@media (max-width: 767px){

.navbar-nav .open .dropdown-menu>li>a{
	color: white !important;
}
}


nav.navbar.navbar-default{

  background: -webkit-linear-gradient(90deg, #614385 10%, #516395 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #614385 10%, #516395 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #614385 10%, #516395 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #614385 10%, #516395 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #614385 10%, #516395 90%); /* W3C */
        
	margin-top: 10px;
}

nav.navbar.navbar-default a{
	color: white;
	font-weight: bolder;
}
nav.navbar.navbar-default a:hover{
	color: white;
}

li p.navbar-text, a.navbar-brand{
	color: white:  !important;
	font-weight: bolder;
}
footer.footer{
	background-color: #337ab7;
	border-color: #2e6da4;
	margin-top: 55px;
	color: white;
	border-radius: 5px;
}

footer.footer p{
	padding: 10px;
}

.dropdown-menu>li>a{
	color:#333 !important;
}